* {
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: black;
}
html {
	font-family: "Open Sans", sans-serif;
	font-size: 62.5%;
}
body {	
	font-family: "Open Sans", sans-serif;
	background-color: #f2f2f2;
}

/*Header*/

header {
	width: 100%;
	background-color: #111111;
	
}

.topbar {

	height: 80px;
	
}
.logo {
	height: 60px;
	float: left;
	margin:10px 5.83% 10px 5.83%;
}

.profile {
	float: right;
	margin:0px 5.83% 0px 5.83%;
}

header span {
	display: inline-block;
	color: white;
	font-size: 1.6em;
	line-height: 80px;
	margin-right: 12px;
}
.profileInfo {
	display: none;
	opacity: 0;
}
.profileInfo ul{
	margin-right: 0px;
}
.profileInfo li{
	float: right;
	color: white;
	font-size: 16px;
}

.profilepic {
	float: right;
	height: 60px;
	border-radius: 50%;
	margin-top: 10px;
	
}

.navbar {
	background-color: #2a3137;
	height: 80px;
	width: 100%;
	margin: 0 auto;
	display: inline-block;


}

header ul {
	display: inline-block;
	float: right;
	list-style: none;
	font-size: 1.6em;
	height: 80px;
	margin-right: 1.8%
	
}

header ul li {
	display: inline-block;
	float: right;
	margin-top: 32px;
	list-style: none;
	margin-right: 3.4em;
	
}

header ul .active a{
	color: #FDBB2B;
}

header ul a:hover {
	color: #B8B8B8;
}

.navbar b {
	color: #fdba2b;
}

header a {
	color: white;
}


header nav img {
	height: 33px;
	margin-top: 25px;
	display: inline-block;
}


.search {
	margin: 0px 5.83% 0px 5.83%;
	height: 80px;
	display: inline-block;
}
.search input {
	-webkit-appearance:none;
	width: 2px;
	height: 28px;
	margin-top: -32px;
	margin-left: 40px;
	opacity: 0;
	border: 1px solid #B8B8B8;
}
.search input:focus {
	outline-color: transparent;
    outline-style: none;
}
.fullDrop {
	display: none;
}
.fullDrop li a {
	padding-bottom: 25px;
}
.navbar .dropdown {
	position: absolute;
	right: 0px;
	float: right;
	z-index: 999;
	background-color: #2A3137;
	color: white;
	height: 80px;
	width: 100%;
	margin-right: 0px;
	border-top: 1px solid black;
}
.navbar .dropdown li {
	display: inline-block;
	float: left;
	margin-left: 5%;
	margin-right: 0px;
	font-weight: 300;
}

.secondDrop {
	display: none;
	position: absolute;
	right: 5%;
	top: 240px;
	z-index: 999;
	padding: 30px 20px;
	border: 1px solid black;
	width: 90%;
	height: 420px;
	background-color: #2A3137;
	color: white;
	opacity: .97;
}
.audioDrop, .businessDrop, .designDrop, .developerDrop, .educationDrop, .photographyDrop, .videoDrop, .webDrop, .animationDrop {
	display: none;
}
.secondDrop ul {
	float: left;
	text-align: left;
	width: 10%;
	margin-right: 28%;
	white-space: nowrap;
}
.secondDrop ul:last-of-type {
	margin-right: 0px;
}
.secondDrop ul:first-of-type {
	margin-left: 4%;
}
.secondDrop ul h3 {
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 30px;
	margin-top: 10px;
}
.secondDrop ul li {
	margin-top: 10px;
	margin-bottom: 5px;
	float: left;
}
.secondDrop ul li a {
	color: #AEAEAE;
}
.secondDrop ul li a:hover{
	color: #FDBB2B;
}
.navbar .line {
	display: inline-block;
    text-align: center;
    height: 1px;
    width: 100%;
    margin: 10px 0;
    background-color: #979797;
}
.searchDrop {
	display: none;
}
.searchDown {
	position: absolute;
	left: 0px;
	float: right;
	z-index: 999;
	background-color: #2A3137;
	width: 250px;
	height: 215px;
	margin-left: 115px;
	margin-top:-20px;
}
.navbar .searchDown a {
	display: inline-block;
	margin-left: 5px;
	font-size: 15px;
	font-weight: 300;
	width: 73%;
}
.searchDown li img {
	width: 15px;
	height: 15px;
	float: left;
	margin-left: 5px;
}
.searchDown li:first-child a img {
	height: 15px;
	width: 15px;
	float: left;
	margin-right: 5px;
	margin-left: 0px;
}
.searchDown a:hover {
	background-color: grey;
	color: white;
}
.navbar .searchDown b {
	float: right;
	color: #FDBB2B;
	font-size: 14px;
	margin-top: 4px;
	margin-right: 10px;
}
.searchDown li {
	float: left;
	margin: 3px 0px;
	width: 100%;
}


/*MAIN*/

main {
	position: relative;
	background-color: white;
	margin: 0 5.83%;
	padding: 20px;
	height: 1093px;
	color: #2A3137;
}
main span {
	font-size: 1.4em;
}
main nav {
	margin-bottom: 50px;
}
main .projectInfo {
	position: relative;
	height: 292px;
	width: 100%;
	padding: 18px;
	background-color: #2a3137;
	color: #F2F2F2;
}
main .projectInfo strong{
	float: right;
	font-size: 1.4em;
	color: #979797;
}
main .projectInfo strong a{
	color: #979797;
}
main .projectInfo strong a:hover {
	color: white;
}
main .projectInfo strong img{
	height: 20px;
}
.projectInfo figure img {
	display: inline-block;
	margin-top: 20px;
	width: 100%;
	margin-bottom: 5px;
}
.projectInfo figcaption {
	font-size: 1.4em;
	color: #F9BD3C;
}
.projectInfo .figure {
	float: left;
	width: 46%;
}
.logoInfo {
	width: 45%;
	float: right;
	color: #F2F2F2;
	margin-left: 5%;
}
.logoInfo h3 {
	font-size: 2.2em;
	margin-top: 0px;
}
.logoInfo b {
	font-size: 1.4em;
	line-height: 40px;
	margin-bottom: 15px;
	font-weight: 300;
}
.logoInfo p {
	font-size: 1.6em;
	line-height: 22px;
	margin-top: 15px;
	font-weight: 300;
}
.line {
	display: inline-block;
    text-align: center;
    height: 1px;
    width: 100%;
    background-color: #979797;
}
.projectInfo small {
	position: absolute;
	bottom: 15px;
	right: 15px;
	font-size: 1.2em;
	color: #979797;
}
.comhead {
	font-size: 2em;
	color: #2A3137;
	margin-top: 33px;
	margin-bottom: 20px;
}
.comments ul li {
	display: inline-block;
	position: relative;
	height: 188px;
	width: 100%;
	border: 1px solid #979797;
	padding: 13px 18px 10px 0px;
	font-size: 1.6em;
	margin-bottom: 16px;
}
.comments .vote {
	text-align: center;
	float: left;
	width: 10%;
	margin-top: 30px;
}
.comments ul .newComment {
	width: 92%;
	padding: 15px 20px;
	float: right;
}
.comments ul .newComment small {
	left: 0px;
}
.comments ul .replyArrow {
	height: 77px;
	width: 65px;
}
.fullReply {
	height: 210px;
	margin-bottom: 40px;
}
.fullReply strong {
	float: right;
	margin-top: -30px;
	margin-right: -88px;
}
.fullReply strong a {
	color: #979797;
}
.fullReply strong img {
	width: 20px;
	height: 20px;
	margin-right: 5px;
}
.vote small, .vote p{
	display: block;
	font-size: 12px;
	color: #C2C2C2;
	margin-bottom: 3px;
}
.vote small.active {
	color: green;
}
.vote small.inactive {
	color: #C2C2C2;
}
.vote small.inactive:hover {
	color: green;
}
.vote small.nactive:hover {
	color: red;
}
.vote small.downvote {
	color: red;
}
.vote small {
	z-index: 999;
}
.vote small:first-of-type:hover {
	color: green;
	cursor: pointer;
}
.vote small:last-of-type:hover {
	color: red;
	cursor: pointer;
}
.vote img {
	width: 17px;
	height: 17px;
	margin-bottom: 3px;
}
.comment {
	position: relative;
	height: 100%;
	width: 90%;
	float: left;
}
.comment h3 {
	margin-bottom: 18px;
}
.comment h3 img {
	height: 15px;
	width: 15px;
	float: none;
}
.comment img {
	float: left;
	width: 75px;
	height: 75px;
}
.comment img:first-child {
	margin-left: 7px;
}
.comment p {
	margin-top: -5px;
	width: 85%;
	float: right;
	line-height: 23px;
}
.comment small {
	position: absolute;
	bottom: 15px;
	font-size: 12px;
	color: #979797;
}
.comment button {
	position: absolute;
	right: 65px;
	bottom: 5px;
	width: 139px;
	height: 40px;
	background-color: #F9BD3C;
	border: 1px solid black;
	font-size: 14px;
}
.newComment .comment button {
	right: -32px;
}
.editProject {
	display: none;
	position: absolute;
	z-index: 99;
	width: 470px;
	top: 100px;
	right: 42px;
}
.editProject input {
	display: inline-block;
	width: 340px;
	height: 28px;
	margin-top: 26px;
	margin-bottom: 60px;
}
.editProject img {
	float: right;
	height: 20px;
}
.editProject img:first-of-type {
	margin-left: 20px;
}
.editProject img:last-of-type {
	height: 36px;
	margin-top: -5px;
}
.editProject img:hover {
	cursor: pointer;
}

.editReply {
	display: none;
	position: absolute;
    z-index: 992;
    margin-top: -202px;
    margin-left: 220px;
}

/* FOOTER */

.footergray {
	height: 300px;
	background-color: #2a3137;
	width: 100%;
	position: absolute;

}

footer div {
	width: 15%;
	float: left;
	position: relative;
	line-height: 2.5em;
}

footer h4 {
	color: #F5F5F5;
	font-size: 2em;
	margin-bottom: 20px;
}

footer a {
	color: #6D6D6D;
	font-size: 1.4em;
	list-style-type: none;
}
footer a:hover {
	color: white;
}
.about {
	margin-left: 15.83%;
	height: 300px;
	position: relative;	
}

.about, .products, .support, .apps, .connect {
	padding-top: 80px;
	display: inline-block;
}

.connect {
	width: 158px;
	margin-left: -2%;
}
.connect li a{
	font-size: 2.4em;
	display: inline-block;
	margin: 12px 15px;
	float: left;
	text-decoration: none;
}

.connect h4 {
	text-align: center;
}

.bottomblack {
	height: 80px;
	background-color: #111111;
	width: 100%;
}

.bottomblack img {
	height: 60px;
	float: right;
	margin:10px 5.83% 10px 5.83%;
}

/*REPLY*/

.reply {
	display: none;
	position: absolute;
	top: 25%;
	left: 10%;
	height: 574px;
	width: 80%;
	background-color: #2A3137;
	padding: 10px;
	border: 1px solid white;
}
.com h2 {
	font-size: 2em;
	color: #FDBB2B;
	margin: 5px 0 15px 0px;
}
.judge {
	height: 188px;
	width: 100%;
	background-color: #F5F5F5;
	margin-bottom: 15px;
}
.judge .comment h3 {
	padding-top: 10px;
	font-size: 16px;
}
.comment p {
	font-size: 16px;
	color: #2A3137;
}
.judge .vote {
	text-align: center;
	float: left;
	width: 10%;
	margin-top: 40px;
}
.writeReply {
	height: 292px;
	width: 100%;
	background-color: #F5F5F5;
}
.writeReply h3{
	font-size: 1.6em;
	color: #2A3137;
	margin-left: 16px;
	padding: 10px 0;
	margin-bottom: 5px;
}
.writeReply .text textarea {
	width: 96%;
	height: 141px;
}
.writeReply .text img {
	width: 20px;
	height: 20px;
	margin: 0 5px 5px 0;
}
.writeReply .text img:nth-child(3) {
	margin-right: 30px;
}
.writeReply .text img:nth-child(5) {
	margin-right: 20px;
}
.text {
	float: right;
	width: 88%;
}
.text button {
	float: right;
	margin-top: 20px;
	margin-right: 20px;
	width: 139px;
	height: 43px;
	border: 1px solid black;
}
.text button:first-of-type {
	background-color: #FDBB2B;
}
.text button:last-child {
	background-color: #F2F2F2;
}
