* {
	box-sizing: border-box;
	
}

a {
	text-decoration: none;
	color: black;


}

html {
	font-family: "Open Sans", sans-serif;
	font-size: 62.5%;
}

body {
	
	font-family: "Open Sans", sans-serif;
	background-color: #f2f2f2;
}



/******************************************************
Header
*******************************************************/

header {
	width: 100%;
	background-color: #111111;
	
}

.topbar {

	height: 80px;
	
}
.logo {
	height: 60px;
	float: left;
	margin:10px 5.83% 10px 5.83%;
}

.profile {
	float: right;
	margin:0px 5.83% 0px 5.83%;

}

header span {
	color: white;
	font-size: 2em;
	display: inline-block;
	line-height: 80px;
	margin-right: 12px;
	
}


.profilepic {
	float: right;
	height: 60px;
	border-radius: 50%;
	margin-top: 10px;
	
}

.navbar {
	background-color: #2a3137;
	height: 80px;
	width: 100%;
	margin: 0 auto;
	display: inline-block;	

}

header ul {
	display: inline-block;
	float: right;
	list-style: none;
	font-size: 2em;
	height: 80px;
	
}

header ul li {
	display: inline-block;
	float: right;
	margin-top: 32px;
	list-style: none;
	margin-right: 3.4em;
	
}

.navbar b {
	color: #fdba2b;
}

header a {
	color: white;
}


header nav img {
	height: 33px;
	margin-top: 25px;
	display: inline-block;
}


.search {
	margin: 0px 5.83% 0px 5.83%;
	height: 80px;
	display: inline-block;
	
	
}

.search input {
	margin-bottom: 26px;
	display: none;

}
/******************************************************
Green Bar
*******************************************************/
.greenbar {
	display: none;
}
/******************************************************
Main Top Section
*******************************************************/
main {
	margin:0px 5.83% 0px 5.83%;
	background-color: white;

	

}

h1 {
	font-size: 3em;
	display: inline-block;
	margin-top: 37px;
	margin-bottom: 39px;
	
}

.boxlinks {
	
	
}

.boxlinks li a{
	display: inline-block;
	width: 140px;
	height: 40px;
	background-color: white;
	border: 2px solid black;
	float: left;
	margin-left: 20px;
	text-align: center;
	margin-bottom: 30px;
	padding-top: 12px;
	font-weight: 400;
	font-size: 1.2em;



}

.whats {
	color: #59a2e7;
	font-size: 1.6em;
	margin-left: 15px;
	margin-top: 10px;
	display: inline-block;
}

/******************************************************
PROJECTS AND COURSES LEFT NAVE
*******************************************************/
.leftnav {
	width: 31%;
	height: 918px;
	clear: both;
	position: relative;
}

.searchsmall {
	height: 55px;
	width: 100%;
	background-color: #2a3137;
	border: 3px solid #c4c4c4;

}

.searchsmall img {
	height: 22px;
	margin: 16px 5px 16px 10px;
}

.searchsmall input {
	width: 70%;
	padding: 5px;
	float: right;	
	margin-top: 10px;
	margin-right: 20px;
	display: none;
}

.crslist a, .prjlist a 	{
	display: inline-block;
	height: 45px;
	width: 50%;
	float: left;
	background-color: #f2f2f2;
	border-right: 3px solid #c4c4c4;
	color: black;
	font-size: 1.6em;
	text-align: center;
	padding-top: 14px;
	

}


.leftnav div .active {
	background-color: #2a3137;
	color: #fdba2b;
}

.expand, .collapse {
	margin-bottom: 14px;
}

.crslist a{
	border-left: 3px solid #c4c4c4;
}

.courselist {
	border: 3px solid #c4c4c4;
	padding-top: 29px;
	padding-left: 5%;
	padding-right: 1%;
	display: inline-block;
	width: 100%;
	font-size: 1.4em;


}

.courselist ul li {
	margin-bottom: 24px;
}

.listcontain {
	margin-top: 20px;
	position: relative
}

h6 {
	display: inline-block;
}

h5 {
	display: inline-block;
}

.courselist small {
	
	font-size: .8em;
	display: inline-block;
	float: right;
	color: #b6b6b6;
}

.courselist li img	 {
	width: 3.5%;
	display: inline-block;
	margin-bottom: -3px;
	margin-right: 24px;
}

.submenu {
	margin-top: 24px;
	display: none;
}

#eye {
	width: 7%;
	display: inline-block;
	float: right;
	margin-right: 20px;	
}

.projectlist {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}

/******************************************************
FOOTER
*******************************************************/


.footergray {
	height: 300px;
	background-color: #2a3137;
	width: 100%;
	position: absolute;

}

footer div {
	width: 15%;
	float: left;
	position: relative;
	line-height: 2.5em;
	
	
}

footer h4 {
	color: #F5F5F5;
	font-size: 2em;
	margin-bottom: 20px;
}

footer a {
	color: #6D6D6D;
	font-size: 1.4em;
}

.about {
	margin-left: 11.8%;
	height: 300px;
	position: relative;	
}

.about, .products, .support, .apps, .connect {
	padding-top: 80px;
	display: inline-block;
}

.connect {
	width: 130px;
}
.connect li a{
	font-size: 2.4em;
	display: inline-block;
	margin: 10px;

	float: left;
}

.connect h4 {
	text-align: center;
}

.bottomblack {
	height: 80px;
	background-color: #111111;
	width: 100%;
}

.bottomblack img {
	height: 60px;
	float: right;
	margin:10px 5.83% 10px 5.83%;
}
