* {
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
}

a {
	text-decoration: none;

}

body {
	font-size: 62.5%;
	font-family: "Open Sans", sans-serif;
}

/******************************************************
Main Header
*******************************************************/

header {
	width: 100%;
	background-color: #111111;
	
}

.topbar {

	height: 80px;
	
}
.logo {
	height: 60px;
	float: left;
	margin:10px 5.83% 10px 5.83%;
}

.profile {
	float: right;
	margin:0px 5.83% 0px 5.83%;

}

header span {
	color: white;
	font-size: 2em;
	display: inline-block;
	line-height: 80px;
	margin-right: 12px;
	
}


.profilepic {
	float: right;
	height: 60px;
	border-radius: 50%;
	margin-top: 10px;
	
}

.navbar {
	background-color: #2a3137;
	height: 80px;
	width: 100%;
	margin: 0 auto;
	display: inline-block;	

}

header ul {
	display: inline-block;
	float: right;
	list-style: none;
	font-size: 2em;
	height: 80px;
	
}

header ul li {
	display: inline-block;
	float: right;
	margin-top: 32px;
	list-style: none;
	margin-right: 3.4em;
	
}

.navbar b {
	color: #fdba2b;
}

header a {
	color: white;
}


header nav img {
	height: 33px;
	margin-top: 25px;
	display: inline-block;
}


.search {
	margin: 0px 5.83% 0px 5.83%;
	height: 80px;
	display: inline-block;
	
	
}

.search input {
	margin-bottom: 26px;
	display: none;

}


/******************************************************
Main FOOTER
*******************************************************/


.footergray {
	height: 300px;
	background-color: #2a3137;
	width: 100%;
	position: absolute;

}

footer div {
	width: 15%;
	float: left;
	position: relative;
	line-height: 2.5em;
	
	
}

footer h4 {
	color: #F5F5F5;
	font-size: 2em;
	margin-bottom: 20px;
}

footer a {
	color: #6D6D6D;
	font-size: 1.4em;
}

.about {
	margin-left: 11.8%;
	
	height: 300px;
	position: relative;	
}

.about, .products, .support, .apps, .connect {
	padding-top: 80px;
	display: inline-block;
}

.connect {
	width: 130px;
}
.connect li a{
	font-size: 2.4em;
	display: inline-block;
	margin: 10px;
	
	float: left;
}

.connect h4 {
	text-align: center;
}

.bottomblack {
	height: 80px;
	background-color: #111111;
	width: 100%;
}

.bottomblack img {
	height: 60px;
	float: right;
	margin:10px 5.83% 10px 5.83%;
}
