* {
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: black;
}
html {
	font-family: "Open Sans", sans-serif;
	font-size: 62.5%;
}
body {	
	font-family: "Open Sans", sans-serif;
	background-color: #f2f2f2;
}

/*Header*/

header {
	width: 100%;
	background-color: #111111;
	
}

.topbar {

	height: 80px;
	
}
.logo {
	height: 60px;
	float: left;
	margin:10px 5.83% 10px 5.83%;
}

.profile {
	float: right;
	margin:0px 5.83% 0px 5.83%;
}

header span {
	display: inline-block;
	color: white;
	font-size: 1.6em;
	line-height: 80px;
	margin-right: 12px;
}
.profileInfo {
	display: none;
	opacity: 0;
}
.profileInfo ul{
	margin-right: 0px;
}
.profileInfo li{
	float: right;
	color: white;
	font-size: 16px;
}

.profilepic {
	float: right;
	height: 60px;
	border-radius: 50%;
	margin-top: 10px;
	
}

.navbar {
	background-color: #2a3137;
	height: 80px;
	width: 100%;
	margin: 0 auto;
	display: inline-block;


}

header ul {
	display: inline-block;
	float: right;
	list-style: none;
	font-size: 1.6em;
	height: 80px;
	margin-right: 1.8%
	
}

header ul li {
	display: inline-block;
	float: right;
	margin-top: 32px;
	list-style: none;
	margin-right: 3.4em;
	
}

header ul .active a{
	color: #FDBB2B;
}

header ul a:hover {
	color: #B8B8B8;
}

.navbar b {
	color: #fdba2b;
}

header a {
	color: white;
}


header nav img {
	height: 33px;
	margin-top: 25px;
	display: inline-block;
}


.search {
	margin: 0px 5.83% 0px 5.83%;
	height: 80px;
	display: inline-block;
}
.search input {
	-webkit-appearance:none;
	width: 2px;
	height: 28px;
	margin-top: -32px;
	margin-left: 40px;
	opacity: 0;
	border: 1px solid #B8B8B8;
}
.search input:focus {
	outline-color: transparent;
    outline-style: none;
}
.search img:hover {
	-webkit-transition-duration: 1s;
	-ms-transform-duration: 1s;
    transition-duration: 1s;
	transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
}
.fullDrop {
	display: none;
}
.fullDrop li a {
	padding-bottom: 25px;
}
.navbar .dropdown {
	position: absolute;
	right: 0px;
	float: right;
	z-index: 999;
	background-color: #2A3137;
	color: white;
	height: 80px;
	width: 100%;
	margin-right: 0px;
	border-top: 1px solid black;
}
.navbar .dropdown li {
	display: inline-block;
	float: left;
	margin-left: 5%;
	margin-right: 0px;
	font-weight: 300;
}

.secondDrop {
	display: none;
	position: absolute;
	right: 5%;
	top: 240px;
	z-index: 999;
	padding: 30px 20px;
	border: 1px solid black;
	width: 90%;
	height: 420px;
	background-color: #2A3137;
	color: white;
	opacity: .97;
}
.audioDrop, .businessDrop, .designDrop, .developerDrop, .educationDrop, .photographyDrop, .videoDrop, .webDrop, .animationDrop {
	display: none;
}
.secondDrop ul {
	float: left;
	text-align: left;
	width: 10%;
	margin-right: 28%;
	white-space: nowrap;
}
.secondDrop ul:last-of-type {
	margin-right: 0px;
}
.secondDrop ul:first-of-type {
	margin-left: 4%;
}
.secondDrop ul h3 {
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 30px;
	margin-top: 10px;
}
.secondDrop ul li {
	margin-top: 10px;
	margin-bottom: 5px;
	float: left;
}
.secondDrop ul li a {
	color: #AEAEAE;
}
.secondDrop ul li a:hover{
	color: #FDBB2B;
}
.navbar .line {
	display: inline-block;
    text-align: center;
    height: 1px;
    width: 100%;
    margin: 10px 0;
    background-color: #979797;
}
.searchDrop {
	display: none;
}
.searchDown {
	position: absolute;
	-webkit-transition-duration: 1s;
	-ms-transform-duration: 1s;
    transition-duration: 1s;
	left: 0px;
	float: right;
	z-index: 999;
	background-color: #2A3137;
	width: 250px;
	height: 215px;
	margin-left: 115px;
	margin-top:-20px;
}
.navbar .searchDown a {
	display: inline-block;
	margin-left: 5px;
	font-size: 15px;
	font-weight: 300;
	width: 73%;
}
.searchDown li img {
	width: 15px;
	height: 15px;
	float: left;
	margin-left: 5px;
}
.searchDown li:first-child a img {
	height: 15px;
	width: 15px;
	float: left;
	margin-right: 5px;
	margin-left: 0px;
}
.searchDown a:hover {
	background-color: grey;
	color: white;
}
.navbar .searchDown b {
	float: right;
	color: #FDBB2B;
	font-size: 14px;
	margin-top: 4px;
	margin-right: 10px;
}
.searchDown li {
	float: left;
	margin: 3px 0px;
	width: 100%;
}


/*Main*/
main {
	position: relative;
	background-color: white;
	margin: 0 5.83%;
	height: 1000px;
	color: #2A3137;
}
main a:hover {
	-webkit-transition-duration: 1s;
	-ms-transform-duration: 1s;
    transition-duration: 1s;
	transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
}
main h1 {
	display: inline-block;
	font-size: 2.7em;
	color: #2A3137;
	padding: 30px 18px 20px;
}
main strong {
	float: right;
	font-size: 1.4em;
	padding-top: 35px;
	padding-right: 10px;
	color: #979797;
}
main strong b {
	color: black;
}
main .projects {
	display: table;
	height: 248px;
	width: 100%;
}
main .projects li{
	display: table-cell;
 	width: 250px;
  	text-align: center;
	position: relative;
	padding: 1%;
	vertical-align: top;
}
main .sort {
	display: none;
	position: absolute;
	right: 10px;
	z-index: 99;
	top: 55px;
	padding: 0px 5px;
	background-color: #2A3137;
}
main .sort li {
	font-size: 14px;
	margin-bottom: 5px;
}
main .sort li a {
	color: white;
}
main .sort li a:hover {
	color: #FDBB2B;
}
main .sort .line {
	height: 1px;
	width: 100%;
	background-color: #979797;
	margin-bottom: 5px;
}
main .cell {
	padding: 7%;
	height: 248px;
	border: 1px solid black;
}
main .cell:hover {
	border: 2px solid #FDBB2B;
}
main .cell h3 {
	float: left;
	font-size: 1.7em;
	margin-bottom: 17px;
}
main li .cell img:first-of-type {
	width: 100%;
	height: 94px;
	padding: 5px 15%;
	background-size: 100%;
	border: 1px solid black;
	margin-bottom: 60px;
}
main li img {
	padding-bottom: 40px;
}
main .projects li:nth-child(3n-2){
	padding-left: 0px;
}
main .projects li:nth-child(3n-1) .cell img:first-of-type {
	background-color: #FED78E;
	padding-bottom: 0px;
}
main .projects li:nth-child(3n) {
	padding-right: 0px;
}
main .projects li:nth-child(3n) .cell img:first-of-type {
	padding: 5px 25%;
	background-color: #FF3367;
}
main li .cell img:last-of-type {
	width: 24px;
	height: 20px;
	margin-right: 2%;
	float: left;
	padding-bottom: 0px;
}
main li span {
	float: left;
	font-size: 1.2em;
	padding-top: 6px;
}
main li span b {
	font-weight: 600;
}
main li small {
	float: right;
	font-size: 1.2em;
	padding-top: 6px;
	color: #979797;
}
main li:last-of-type small {
	color: #EF9C9C
}


/* FOOTER */

.footergray {
	height: 300px;
	background-color: #2a3137;
	width: 100%;
	position: absolute;

}

footer div {
	width: 15%;
	float: left;
	position: relative;
	line-height: 2.5em;
}

footer h4 {
	color: #F5F5F5;
	font-size: 2em;
	margin-bottom: 20px;
}

footer a {
	color: #6D6D6D;
	font-size: 1.4em;
	list-style-type: none;
}
footer a:hover {
	color: white;
}
.about {
	margin-left: 15.83%;
	height: 300px;
	position: relative;	
}

.about, .products, .support, .apps, .connect {
	padding-top: 80px;
	display: inline-block;
}

.connect {
	width: 158px;
	margin-left: -2%;
}
.connect li a{
	font-size: 2.4em;
	display: inline-block;
	margin: 12px 15px;
	float: left;
	text-decoration: none;
}

.connect h4 {
	text-align: center;
}

.bottomblack {
	height: 80px;
	background-color: #111111;
	width: 100%;
}

.bottomblack img {
	height: 60px;
	float: right;
	margin:10px 5.83% 10px 5.83%;
}


/* Media Queries */

@media( max-width: 1042px ) {
	main .projects li {
		display: block;
		width: 60%;
		margin: 0 auto;
	}
	.fullDrop ul li{
		font-size: 12px;
	}
	.secondDrop {
		top: 160px;
	}
	.navbar .search {
		display: none;
	}
	.footergray {
		height: 360px;
	}
}

@media(max-width: 850px) {
	.profile span {
		display: none;
	}
	.navbar ul li b {
		display: none;
	}
	.dropdown {
		display: none;
	}
	.navbar .fullDrop .dropdown {
		opacity: 0;
		z-index: -99;
	} 
	.navbar .secondDrop {
		opacity: 0;
		z-index: -99;
	}
	.navbar ul li b {
		display: none;
	}
}
@media(max-width: 685px) {
	main .projects li {
		width: 95%;
	}
	.navbar nav li a {
		font-size: 12px;
	}
	.navbar nav li {
		margin: 30px 10px;
	}
	.projects li a small {
		display: none;
	}
	header .logo {
		height: 45px;
	}
	.footergray, .about, .products, .support, .apps, .connect {
		display: none;
	}
	footer .bottomblack {
		display: block;
	}
}





